table {
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
}

tr {
	border-bottom: 2px solid #262626;
}

td, th {
	padding: 10px;
	border-right: 2px solid #262626;
}

th {
	background: #f4ede5;
}

table tr:last-child {
	border-bottom: none;
}

table tr {
	background: #edeed9;
}

table td:last-child, table th:last-child {
	border-right: none;
}
