{% extends "base.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
</head>
<div class="row header">
  <div class="col-12">
    <div class="content1">
      <table>
        <tr>
          <th>Module Title</th>
          <th>Grade</th>
          <th>Attendance</th>
        </tr>
        {% for module in moduleList %}
          <tr>
            <td>{{ module.module }}</td>
            <td>{{ module.grade }}%</td>
            <td>{{ module.attendance }}%</td>
          {% endfor %}
        </table>
    </div>
  </div>
</div>
{% endblock %}
